@import '../styles/variables.scss';

.ui.selection.active.dropdown,
.ui.selection.active.dropdown:hover {
  border-color: $color-secondary;
}

.ui.selection.active.dropdown,
.ui.selection.active.dropdown:hover .menu {
  border-color: $color-secondary;
}

.ui.fluid.dropdown {
  display: inline-block;
  max-width: 200px;
  min-width: 100px;
  width: auto;
}

.ui.dropdown .menu > .item {
  font-size: 1.5rem;
}
