@import '../../styles/variables.scss';

.btn {
  font-weight: 400;
  color: $color-secondary;
  font-size: 1.3rem;
  margin: 0.2rem;
  padding: 0.2rem 0.4rem;
  border: 1.5px solid $color-secondary;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    color: $color-secondary;
    // background: $color-secondary;
  }
  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }
}
