@import '../../styles/variables.scss';

.dropdown-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem 0.5rem 0rem;

  &.small {
    width: 10rem;
  }

  &.medium {
    width: 20rem;
  }

  &.large {
    width: 31rem;
  }
  > span {
    font-size: 1.4rem;
    padding: 1rem 0 0.3rem 0.2rem;
  }
}

.ui.dropdown .menu > .item {
  font-size: 1.5rem;
}
