.wrapper {
  height: 100vh;
  background-color: var(--clr-bg);
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  margin-top: 64px;
  padding: 1.4rem 1.2rem;
}

.content-wrapper {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: var(--max-page-width);
  align-items: flex-start;
}

.content {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}

.page-title {
  width: 100%;
  font-weight: 500;
}

@include media('tablet') {
  main {
    padding: 1.8rem 2rem;
  }

  .content {
    flex-flow: row nowrap;
  }
}
